@media screen and (max-width: 1200px) {
  .fixed {
    width: 210px;
  }
}

@media screen and (max-width: 992px) {
  .fixed {
    width: 220px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }

  .fixed {
    display: none;
  }

  .sidebar {
    width: 50vw;
  }
}

@media screen and (max-width: 576px) {
  .b-right {
    border: 0;
  }
}
